---
import { Img } from 'astro-imagetools/components';
import Masonry from '../components/Masonry.astro';
import Layout from '../layouts/Layout.astro';
import { getListOfImages } from '../lib/data/get-list-of-images';

const data = await getListOfImages();

const canNotBeOptimized = /\.(bmp|svg)$/i;
---

<Layout title="Primeanimagen Visualized">
  <main class="container">
    <h1 class="title">Primeagen's anime repository visualized</h1>

    <Masonry>
      {
        data.map((image) => (
          <picture class="image-card">
            {canNotBeOptimized.test(image.url) ? (
              <img
                loading="lazy"
                src={image.url}
                alt={image.name}
                class="image-card__image"
              />
            ) : (
              <Img
                loading="lazy"
                src={image.url}
                alt={image.name}
                placeholder="blurred"
                layout="constrained"
              />
            )}
            <figcaption>
              <a
                class="image-card__caption"
                href={image.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {image.name} - {image.size}
              </a>
            </figcaption>
          </picture>
        ))
      }
    </Masonry>
  </main>
</Layout>

<style>
  .container {
    max-width: 1230px;
  }

  .title {
    text-align: center;
  }

  .image-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
  }

  .image-card__image {
    width: 100%;
    height: auto;
  }

  .image-card__caption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    word-break: break-word;
    padding: 0.5rem;
    display: flex;
    text-decoration: none;
    color: #000;
  }
</style>
